form(action="" method="POST" id="signup-form")
  .credentials
    label(for="newpassword")  Enter New Password
      br
      input(type="password" name="newpassword" class=errNewPassword )
    br
    label(for="confirmpassword") Confirm New Password
      br
      input(type="password" name="confirmpassword" class=errConfirmPassword )
    br
    input(type="submit" value="Change Password")
