extends layout

block content

  #content.container
    -if (!user)
      .left.span6
        .welcome-home
          h2 Greetings!
          br
          p Hello and welcome to expressboard.
          br
          p.sub You can fork this project on <a href="https://github.com/elizar/expressboard"><strong>github</strong></a>
      .right.span6
        .signup-home
          h2 Don't have an account yet?
          h4.sub Sign up now it's free!
          hr
          include includes/signup_form

