doctype 5
html
  head
    title=' Express Board | '+ title
    link(rel='icon', type="image/ico", href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Trykker', rel='stylesheet', type='text/css')
  body
    header.container
      .left
        .logo
          h1 
            a(href="/") Express Board
          span.sub An awesome message board.
      .right
        nav.nav Welcome #{!user? 'Guest' : user.email} 
          if (!user)
            a(href="/signup") Sign Up
            | | 
            a(href="/login") Log In
          else
            span.sub  | 
            a(href="/profile") View Profile
            span.sub  | 
            a(href="/logout") Log Out
    block content
  #footer.footer
    p &copy; 2013 - 2014 <a href="http://elizarpepino.com">Elizar Pepino.</a> All rights reserved.