doctype 5
html
  head
    title=' [EB] | '+ title
    link(rel='icon', type="image/ico", href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="//use.typekit.net/ine7ean.js")
    script(type="text/javascript")
      try{Typekit.load();}catch(e){}
  body
    if (url === '/')
      .info
        - if (errorFlash && errorFlash.length > 0)
          .error !{errorFlash[0]}
        - else if (successFlash && successFlash.length > 0)
          .success !{successFlash[0]}
    header.container
      .left
        .logo
          h1 
            a(href="/") Express Board
          span.sub An awesome message board.
      .right
        nav.nav Welcome #{!user? 'Guest' : user.email} 
          if (!user)
            a(href="/signup") Sign Up
            | | 
            a(href="/login") Log In
          else
            span.sub  | 
            a(href="/profile") View Profile
            span.sub  | 
            a(href="/logout") Log Out
    block content
    #footer.footer
      p &copy; 2013 - 2014 <a href="http://elizarpepino.com">Elizar Pepino.</a> All rights reserved.