doctype html
html
  head
    title='ExpressBoard - '+ title
    link(rel='icon', type="image/ico", href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="/stylesheets/tomorrow-night.css")
    script(src="http://yandex.st/highlightjs/7.3/highlight.min.js")
    script(src="//use.typekit.net/btw3nis.js")
    script try{Typekit.load();}catch(e){}
  body
    if (url === '/')
      .info
        - if (errorFlash && errorFlash.length > 0)
          .error !{errorFlash[0]}
        - else if (successFlash && successFlash.length > 0)
          .success !{successFlash[0]}
    header.container
      .wrapper
        .left
          .logo
            h1
              a(href="/") Express Board
            span.sub An awesome message board.
        .right
          nav.nav Welcome ( #{!user? 'Guest' : user.username} )
            if (!user)
              a(href="/signup") Sign Up
              | |
              a(href="/login") Log In
            else
              span.sub  |
              a(href="/") Main
              span.sub  |
              a(href="/profile") Account
              span.sub  |
              a(href="/logout") Log Out
    block content
    .wrapper
      #footer.footer
        .left.span6
          p &copy; 2013 - 2014 <a href="http://elizarpepino.com">Elizar Pepino.</a> All rights reserved.
        .right
          p
            | Fork this project on
            a(href="https://github.com/elizar/expressboard") Github
