extends layout

block content
  #content.container
    .wrapper
      .left.span6
        .welcome-home
          h2 Log In
          hr
          -var cls = ''
          -if (errorFlash && errorFlash.length > 0)
            p.error=errorFlash[0]
            -cls = 'error'
            br
          -if (infoFlash && infoFlash.length > 0)
            p.success=infoFlash[0]
          form(action="" method="POST" id="signup-form")
            .credentials
              label(for="username") Username 
                br
                input(type="text" name="username" class=cls)
              br
              label(for="password") Password 
                br
                input(type="password" name="password" class=cls)
            p.forgot.sub 
              br
              | Don't have an account ? 
              a(href="/signup") <b> Sign Up Here! </b>
            .submit
              br
              input(type="submit" value="LOG IN")
