extends layout

block content
	#container.container
		.content
			h3 Ohh Snap!
			p.sub The page that you've requested cannot be found. <a href="/">Click Here</a> to go back to the main page.
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br
			br