* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
body {
    font: normal 95%/150%"Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #7e7ea5;
}
.wrapper {
    margin: 0 auto;
    width: 960px;
    margin-bottom: 2em;
    overflow: auto;
}
.info {
    width: 100%;
    position: fixed;
    z-index: 10000;
    text-align: center;
}
.info .success, .info .error {
    margin: 0 auto;
    width: 400px;
    font-weight: bold;
}
p{
    line-height: 1.5em;
}
h1 {
    line-height: 1.5em;
    font-family: "Trykker", serif;    
}
h2, h3, h4 {
    font-weight: normal;
    line-height: 1.5em;
    font-family: "Quattrocento", "Lucida Grande";
}
nav {
    color: #333111;
}
nav a {
    text-decoration: underline;
    color: #9898bf;
    padding: 4px 5px;
}
nav a:hover {
    color: #555;
}
hr {
    height: 1px;
    border: none;
    background-color: #ccc;
    margin-bottom: 1em;
    margin-top: 1em;
}
a {
    color: #454596;
    text-decoration: none;
}
a:hover {
    color: darkblue;
    text-decoration: underline;
}
textarea {
    width: 400px;
    padding: 10px;
}
input, textarea {
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
    margin-top: .5em;
    box-shadow: 0 2px 5px #efefef inset;
}
input:focus, textarea:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 2px 5px #ccc inset;
}
input[type="text"], input[type="password"] {
    padding: 10px;
    width: 300px;
}
input[type="submit"] {
    padding: 12px;
    min-width: 100px;
    border: 1px solid blue;
    display: block;
    color: blue;
    cursor: pointer;
    font-weight: bold;
    background-color: #eeeeff;
    outline:2px solid #efefef;
}
input[type="submit"]:hover {
    background-color: #ccccff;
}
input.error {
    border-color: #ffaaaa;
    background-color: transparent;
    color: inherit;
}
label {
    font-weight: bold;
}
label small {
    font-weight: normal;
    color: #aaa;
}

header.container {
    padding-bottom: 1.5em;
    background-color: #fcfcff;
    border-bottom: 1px solid #aaa;
}
.error {
    border: 1px solid #ffaaaa;
    color: red;
    background-color: #ffeeee;
    padding: 10px;
}
.success {
    color: darkgreen;
    border: 1px solid green;
    background-color: lightgreen;
    padding: 10px;
}
.container {
    width: 100%;
    position: relative;
    overflow: auto;
    text-align: left;
    background-color: #fff;
}
.left {
    position: relative;
    float: left;
}
.right {
    position: relative;
    float: right;
}
.menu a {
    padding: 4px 10px;
    color: #777;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid #aaa;
    background-color: #efefef;
}
.menu a:hover {
    color: #111;
    text-decoration: none;
    background-color: #fcfcff;
}
.menu a.active {
    color: #111;
    background-color: #ffffff;
}
.sub {
    color: #999;
}
.latest-thread, .signup-home {
    border-left: 1px dashed #aaa;
    padding: 20px;
}
.welcome-home {
    padding: 30px 30px 0 0;
}
.borderleft {
  border-left: 1px dashed #aaa;
}
.footer {
    padding-top: 3em;
    padding-bottom: 3em;
    border-top: 1px solid #4c4c80;
}
.footer p {
    color: #efefef;
    font-size: .9em;
}
.footer a {
    font-weight: bold;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}
.logo {
    margin-top: 10px;
}
.logo a {
    color: #333;
}
.logo a:hover {
    text-decoration: none;
    color: #000;
}
.nav {
    margin-top: 35px;
    margin-right: 10px
}
.nav a {
    margin: 5px;
}
.content {
    margin-top: 10px;
    padding-bottom: 4px;
    padding-top: 1em;
    overflow: visible;
}
.content h1, .content h2, .content h3 {
    font-weight: normal;
}
.threads .thread, .posts .post {
    padding-left: 10px;
}
.threads .thread {
    border-bottom: 1px solid #eee;
    padding-bottom: 1em;
    padding-top: 1em;
}
.posts {
    margin: 0;
    list-style-type: none;
    border: 1px solid #efefef;
}
.post hr {
    margin-bottom: 5px;
    margin-top: 2em;
}
.posts .post {
    font-size: 1.1em;
    padding: 2em;
    padding-bottom: 7px;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
}
.posts > .offset {
    background-color: #fcfcff;
}
.posts hr {
    background-color: #eee;
}
.posts a {
    color: #888;
}
.posts b {
    color: #888;
}
.posts p.sub {
    margin-top: 1em;
}
/** SPAN **/
 .span12 {
    width: 100%;
}
.span10 {
    width: 83%;
}
.span9 {
    width: 75%;
}
.span8 {
    width: 66%;
}
.span7 {
    width: 58%;
}
.span6 {
    width: 50%;
}
.span5 {
    width: 41%;
}
.span4 {
    width: 33%;
}
.span3 {
    width: 25%;
}
.span2 {
    width: 16%;
}
.span1 {
    width: 8%;
}
