body {
    padding: 50px;
    font: 14px"Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
    color: #00B7FF;
}
input {
    font-size: 14px;
    margin-bottom: 10px;
    border: 1px solid #aaa;
}
input:focus {
  outline: none;
  border: 1px solid #333;
}
input[type="text"], input[type="password"] {
    padding: 4px;
    width: 200px;
}
input[type="submit"] {
    padding: 8px;
    width: 100px;
    border: 1px solid gray;
    display: block;
}
