extends ../layout

block content
  #container.container
    .wrapper
      .content
        .left
          h2 NEW THREAD
        .right
          include ../includes/filter-menu
      .content
        hr
        -if (errorFlash && errorFlash.length > 0)
          br
          - err = errorFlash[0].errors
          - if (err.title) errorMessage = err.title.type
          - else errorMessage = err.message.type
          p.error= errorMessage

        form(action="/threads/new" method="POST" id="signup-form")
          label(for="title") Choose a Title<br />
          input(type="text", name="title")
          br
          label(for="description") <br /> Initial Post ( Optional )<br />
          textarea(rows="10", name="description")
          br
          small
            em.sub * HTML tag is not allowed, use <b>Markown</b>(soon) instead.
          .submit
            br
            input(type="submit" value="Publish This Thread")
            br
