extends ../layout

block content
	#container.container
		.content
			h2 New Thread
			hr
			-if (errorFlash && errorFlash.length > 0)
				p.error Can't save that shit! Try again.
				br
			form(action="/board/new" method="POST" id="signup-form")
				label(for="title") Choose a Title<br />
				input(type="text", name="title")
				label(for="description") <br />Write a description<br />
				textarea(rows="10", name="description")
				.submit
					input(type="submit" value="Submit and Save")